
$bg-home = rgba(255,235,59,1)
$font-home = rgba(37,37,37,1)

$bgColor = #252525
$themeColor = #ffcd32
$defaultColor =#ccc
$boderColor = #444

$fontXS = 12px
$fontS  = 14px
$fontM  = 16px
$fontXM  = 18px
$fontL  = 20px
$fontXL = 22px
$fontXXL = 24px
