/* 效果代码来源 vux */
.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: transform;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) ;
  bottom: 50px;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}

.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}

.vux-pop-out-leave-active {
  opacity: 0 ;
  transform: translate3d(70%, 0, 0);
}

.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(70%, 0, 0);
}

.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-70%, 0, 0);
}
